// $bg-grad: linear-gradient(328deg, #21D4FD 0%, #B721FF 100%);
$primary-color: #000000;

$bg-grad: linear-gradient(160deg, #a28244, #5a5a3b);

$bg-grad-1: linear-gradient(160deg, #a28244, #5a5a3b);
// $bg-grad-1: linear-gradient(90deg, #FAD961 0%, #e4cd21 100%);

$bg-grad-2: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);



// $bg-default: #d9d6d6;
// $bg-default: white;
$bg-default: #F4F7FA;

$bg-default-1: #d9d6d6;

$bg-default-2: #d9d6d6;

// $bg-grad:  linear-gradient(160deg, #0D47A1 0%, #43837b 100%);